cocoapi/images/
cocoapi/annotations/
cocoapi/results/
cocoapi/external/
cocoapi/.DS_Store

cocoapi/MatlabAPI/analyze*/
cocoapi/MatlabAPI/visualize*/
cocoapi/MatlabAPI/private/maskApiMex.*

cocoapi/PythonAPI/pycocotools/__init__.pyc
cocoapi/PythonAPI/pycocotools/_mask.c
cocoapi/PythonAPI/pycocotools/_mask.so
cocoapi/PythonAPI/pycocotools/coco.pyc
cocoapi/PythonAPI/pycocotools/cocoeval.pyc
cocoapi/PythonAPI/pycocotools/mask.pyc
cocoapi/PythonAPI/build/
cocoapi/PythonAPI/pycocotools.egg-info/
cocoapi/PythonAPI/pycocotools/__pycache__/
cocoapi/PythonAPI/pycocotools/_mask.cpython-*.so

cocoapi/PythonAPI/pycocotools/_cocoeval.c
cocoapi/PythonAPI/pycocotools/_cocoeval*so
cocoapi/PythonAPI/cython_debug

